<!-- <form [formGroup]="jobCardForm" (ngSubmit)="save()">
    <mat-form-field>
      <mat-label>Job Title</mat-label>
      <input matInput formControlName="jobTitle">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assigned To</mat-label>
      <input matInput formControlName="assignedTo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput formControlName="status">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <input matInput formControlName="priority" type="number">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
   -->