<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Product</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a *authPermission="page + '_' + permissions.list" mat-flat-button color="primary"
                        class="app-button" (click)="cancel()">
                        View List
                    </a>
                </div>
            </div>
            <form [formGroup]="frmProduct" (submit)="save()" #form="ngForm" novalidate class="app-form">
                <!-- Basic Details Section -->
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Product Code</mat-label>
                            <input type="text" matInput formControlName="productCode">
                            <mat-validation-message [control]="frmProduct.controls.productCode"
                                [message]="'Product Code'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Product Name</mat-label>
                            <input type="text" matInput formControlName="productName">
                            <mat-validation-message [control]="frmProduct.controls.productName"
                                [message]="'Product Name'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Product Group</mat-label>
                            <mat-select formControlName="productGroupId">
                                <mat-option *ngFor="let group of productGroups" [value]="group.id">
                                    {{ group.name }}
                                </mat-option>
                            </mat-select>
                            <mat-validation-message [control]="frmProduct.controls.productGroupId"
                                [message]="'Product Group'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Product Category</mat-label>
                            <mat-select formControlName="productCategoryId">
                                <mat-option *ngFor="let category of productCategories" [value]="category.id">
                                    {{ category.name }}
                                </mat-option>
                            </mat-select>
                            <mat-validation-message [control]="frmProduct.controls.productCategoryId"
                                [message]="'Product Category'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Product Type</mat-label>
                            <mat-select formControlName="productTypeId">
                                <mat-option *ngFor="let type of productTypes" [value]="type.id">
                                    {{ type.name }}
                                </mat-option>
                            </mat-select>
                            <mat-validation-message [control]="frmProduct.controls.productTypeId"
                                [message]="'Product Type'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Product Brand</mat-label>
                            <mat-select formControlName="productBrandId">
                                <mat-option *ngFor="let brand of productBrands" [value]="brand.id">
                                    {{ brand.name }}
                                </mat-option>
                            </mat-select>
                            <mat-validation-message [control]="frmProduct.controls.productBrandId"
                                [message]="'Product Brand'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Product Size</mat-label>
                            <mat-select formControlName="productSizeId">
                                <mat-option *ngFor="let size of productSizes" [value]="size.id">
                                    {{ size.name }}
                                </mat-option>
                            </mat-select>
                            <mat-validation-message [control]="frmProduct.controls.productSizeId"
                                [message]="'Product Size'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>HSN Code</mat-label>
                            <input type="text" matInput formControlName="hsnCode">
                            <mat-validation-message [control]="frmProduct.controls.hsnCode" [message]="'HSN Code'"
                                [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>UOM</mat-label>
                            <mat-select formControlName="uomId">
                                <mat-option *ngFor="let uom of uoms" [value]="uom.id">
                                    {{ uom.name }}
                                </mat-option>
                            </mat-select>
                            <mat-validation-message [control]="frmProduct.controls.uomId" [message]="'UOM'"
                                [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Part Code</mat-label>
                            <input type="text" matInput formControlName="partCode">
                            <mat-validation-message [control]="frmProduct.controls.partCode" [message]="'Part Code'"
                                [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Inter State Tax</mat-label>
                            <mat-select formControlName="interStateTaxId">
                                <mat-option *ngFor="let tax of interStateTaxes" [value]="tax.id">
                                    {{ tax.name }}
                                </mat-option>
                            </mat-select>
                            <mat-validation-message [control]="frmProduct.controls.interStateTaxId"
                                [message]="'Inter State Tax'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Intra State Tax</mat-label>
                            <mat-select formControlName="intraStateTaxId">
                                <mat-option *ngFor="let tax of intraStateTaxes" [value]="tax.id">
                                    {{ tax.name }}
                                </mat-option>
                            </mat-select>
                            <mat-validation-message [control]="frmProduct.controls.intraStateTaxId"
                                [message]="'Intra State Tax'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Product Model Number</mat-label>
                            <input type="text" matInput formControlName="productModelNumber">
                            <mat-validation-message [control]="frmProduct.controls.productModelNumber"
                                [message]="'Product Model Number'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label>Production Completion Days</mat-label>
                            <input type="number" matInput formControlName="productionCompletionDays">
                            <mat-validation-message [control]="frmProduct.controls.productionCompletionDays"
                                [message]="'Production Completion Days'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <label>Product Image</label>
                        <input type="hidden" formControlName="productImageId">
                        <file-uploader [documents]="productData?.productImage" [isEditMode]="isEditMode"
                            [uploader]="fileUploader?.uploader" [label]="''" [hideUploader]="canHideUploader()"
                            (removeDocument)="removeFile($event)" (selectedFile)="onSelectFile($event)">
                        </file-uploader>
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <mat-label>Product Description</mat-label>
                            <textarea matInput formControlName="productDescription" rows="2"></textarea>
                            <mat-validation-message [control]="frmProduct.controls.productDescription"
                                [message]="'Product Description'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" mat-flat-button color="primary" class="app-button mr-1">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>