<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Role</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a mat-flat-button color="primary" class="app-button" (click)="cancel()">
                        View List
                    </a>
                </div>
            </div>
            <form [formGroup]="frmRole" (ngSubmit)="save()" #form="ngForm" novalidate class="app-form">
                <!-- Role Details Section -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">Role Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Role Name</mat-label>
                                    <input matInput formControlName="name">
                                    <mat-error *ngIf="frmRole.get('name').invalid && (frmRole.get('name').touched || isFormSubmitted)">
                                        Role Name is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Permissions Section -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">Permissions</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead class="bg-primary text-white text-center">
                                    <tr>
                                        <th>Permission</th>
                                        <th>View</th>
                                        <th>Add</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let permission of frmRole.get('Permissions')['controls']; let i = index">
                                        <td>{{ permission.get('permission').value }}</td>
                                        <td><mat-checkbox [formControl]="permission.get('view')"></mat-checkbox></td>
                                        <td><mat-checkbox [formControl]="permission.get('add')"></mat-checkbox></td>
                                        <td><mat-checkbox [formControl]="permission.get('edit')"></mat-checkbox></td>
                                        <td><mat-checkbox [formControl]="permission.get('delete')"></mat-checkbox></td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" mat-flat-button color="primary" class="app-button mr-1">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
