<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end leftSideHeader">
                    <h4 class="mb20 float-left">Role List</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end rightSideHeader mb10">
                        <a *authPermission="page + '_' + permissions.create" mat-flat-button color="primary"
                            class="app-button" [routerLink]="['../','add']">
                            <span>Add New</span>
                            <i class="icon-plus"></i>
                        </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <role-search-panel (searchChanged)="updateSearch($event)"></role-search-panel>
                    <ngx-datatable class="material" [rows]="roleData" [columnMode]="'force'"
                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
                    [loadingIndicator]="loading" [scrollbarH]="true" [rowClass]="isActiveRow"
                    [messages]="{emptyMessage:'No Data to Display',totalMessage:'Total'}">
                    <ngx-datatable-column name="Role" prop="name"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <a *authPermission="page + '_' + permissions.edit" [routerLink]="['..','edit',row.id]">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <ng-container *authPermission="page + '_' + permissions.active" class="ml-10">
                            <a *ngIf="row.isActive" (click)="activateToggleRole(row, false)">
                                <mat-icon>lock</mat-icon>
                            </a>
                            <a *ngIf="!row.isActive" (click)="activateToggleRole(row, true)">
                                <mat-icon>lock_open</mat-icon>
                            </a>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                
                </div>
            </div>
        </div>
    </div>
</div>