table {
    width: 100%;
  }

  th {
    background-color: rgb(23, 187, 88) !important;
    color: white;  
    text-align: left;  
    padding: 2px;  
  }
  
  tr.matgrid-detail-row {
    height: 0;
  }
  
  tr.matgrid-element-row:not(.matgrid-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.matgrid-element-row:not(.matgrid-expanded-row):active {
    background: #efefef;
  }
  
  .matgrid-element-row td {
    border-bottom-width: 0;
  }
  
  .matgrid-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .matgrid-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 4px;
    font-weight: lighter;
    margin: 5px 0;
    height: 60px;
  }
  
  .matgrid-element-symbol {
    font-weight: bold;
    font-size: 30px;
    line-height: normal;
  }
  
  .matgrid-element-description {
    padding: 4px;
  }
  
  .matgrid-element-description-attribution {
    opacity: 0.5;
  }

  ::ng-deep .mat-mdc-header-cell {
    font-size: 14px !important;
    font-weight: bold !important;
  }
  
  .icon-red {
    color: red;  /* Set the color for control_point */
  }
  
  .icon-green {
    color: green;  /* Set the color for remove_circle_outline */
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%; /* Adjust as needed */
    color: green !important;
    margin-left: 40%;
}

.loader-container-Parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%; /* Adjust as needed */
  color: green !important;
 // margin-left: 40%;
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic{
  stroke: green !important;
}

.full-width {
  width: 100%;
}

::ng-deep .ngx-datatable.material .datatable-body .progress-linear .container {
  background-color: lightgreen;
}

::ng-deep .ngx-datatable.material .datatable-body .progress-linear .container .bar {
  background-color: green;
}

.table-responsive {
  overflow-x: auto;
}

@media (max-width: 576px) {
  .mat-form-field {
    width: 100%; /* Ensures the form field takes full width on small screens */
  }
}

h4 {
  font-size: 1.25rem; /* Adjust this if needed */
  line-height: 1.5;   /* Matches the control height */
}

.compact-form-field {
  margin: 0;
  padding: 0;
  display: flex;
  height: 36px; /* Adjust the height to match the line height of the header */
}

.mat-form-field-wrapper {
  padding: 0 8px; /* Reduce padding inside the mat-form-field */
}

.mat-select {
  line-height: 1.5; /* Ensures the dropdown aligns vertically */
}



::ng-deep .mat-mdc-form-field-infix {
   min-height: 0px !important; 
   padding-top: 8px !important; 
  padding-bottom: 0px !important;
}


 ::ng-deep .mat-mdc-floating-label {
  top: 20px !important;
}

::ng-deep .mat-mdc-header-row {
  height: 30px !important;
}

//  ::ng-deep .mat-mdc-row {
//   height: 30px !important;
// }

::ng-deep .mat-mdc-cell {
  line-height: 30px !important;
}
