<div class="row justify-content-center">
  <div class="col-xl-11 col-lg-12">
    <div class="border p30 rounded">
      <div class="row align-items-center">
        <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end leftSideHeader">
          <h4 class="mb20 float-left">Production Order List</h4>
        </div>
        <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end rightSideHeader mb10">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ngx-datatable class="material" [rows]="productionOrderData | searchtable : searchData" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [loadingIndicator]="loading"
            [scrollbarH]="true" [messages]="{emptyMessage: 'No Data to Display', totalMessage: 'Total'}">

            <ngx-datatable-column name="Code" prop="code">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <span>{{value}}</span>
                <button (click)="toggleExpandRow(row)" class="btn btn-link">
                  <mat-icon>{{ row.expanded ? 'remove' : 'add' }}</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="PO Number" prop="poNumber">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="PO Date" prop="poDateTimeFormatted">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Planned Qty" prop="plannedQty">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Item Name" prop="itemName">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row">
                <a class="button-padding" color="primary" (click)="toggleExpandRow(row)">
                  <mat-icon>{{ row.expanded ? 'remove' : 'add' }}</mat-icon>
                </a>
                <a class="button-padding" color="primary" [routerLink]="['../', 'edit', row.id]">
                  <mat-icon>edit</mat-icon>
                </a>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>

          <ngx-datatable *ngIf="expandedRow" class="nested-table material" [rows]="relatedData" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
            [messages]="{emptyMessage: 'No Data to Display', totalMessage: 'Total'}">
            <ngx-datatable-column name="Type" prop="type">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Code" prop="code">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date" prop="date">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value | date: 'dd-MMM-yyyy HH:mm a'}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Product Name" prop="productName">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Shift Name" prop="shiftName">
              <ng-template ngx-datatable-cell-template let-value="value">
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
   