mat-tab-group {
    margin: 20px;
  }

  .tab-group-bordered {
    border: 2px solid var(--bs-border-color) !important; /* Change the color and width as needed */
    border-radius: 8px; /* Optional: for rounded corners */
    padding: 10px; /* Optional: add padding inside the border */
    margin-bottom: 20px; /* Spacing below the tab group */
  }

  .card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    padding: 0.75rem 1.25rem;
}

.card-body {
 //   padding: 1.25rem;
}

.mat-icon {
    vertical-align: middle;
}

.full-width {
    width: 100%;
}

.mb-3 {
    margin-bottom: 1rem; /* Adjust as needed */
}


  
  .readonly-input {
    color: black; /* Ensure text color is black */
    background-color: #f5f5f5; /* Light grey background */
    cursor: not-allowed; /* Optional: Change cursor to indicate read-only state */
    border: 1px solid #dcdcdc; /* Optional: Add border to differentiate from editable fields */
  }
  ::ng-deep .mat-calendar {
    background-color: lightgray; // or any other color you prefer
  }
  
  ::ng-deep .time-container{
    background-color: lightgray; // Ensure the calendar itself has a background
  }

  ::ng-deep .mat-calendar-body-selected {
    background-color: #1976d2 !important; // Highlight color for selected date
    color: white !important; // Text color for better visibility
    border-radius: 50% !important; 
  }
  
  ::ng-deep .mat-calendar-body-active {
    background-color: #42a5f5 !important;
    border-radius: 50% !important; 
  }
  
  ::ng-deep .mat-calendar-body-today {
    border-color: #ff9800 !important; // Mark today's date
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
  }

  .card-header {
    background-color: rgb(23, 187, 88) !important;
    border-bottom: 1px solid rgb(23, 187, 88) !important;
    padding: 0.75rem 1.25rem;
    color: white;
}

.back-Green{
    background-color:  rgb(23, 187, 88) !important;
    color: white !important ;              /* Text color */
  }

  .icon-green {
    color: green;  /* Set the color for remove_circle_outline */
  }

  ::ng-deep .mat-mdc-tab-labels{
    background-color:  rgb(23, 187, 88) !important;
    color: white !important ; 
  }
  
  ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    color: white !important;
}

::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #E91E63 !important;
}

::ng-deep .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #E91E63 !important;
  // --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  // --mat-tab-header-pagination-icon-color: black;
  // --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.6);
  // --mat-tab-header-active-label-text-color: #3f51b5;
  // --mat-tab-header-active-ripple-color: #3f51b5;
  // --mat-tab-header-inactive-ripple-color: #3f51b5;
  // --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  // --mat-tab-header-inactive-hover-label-text-color: rgba(0, 0, 0, 0.6);
  // --mat-tab-header-active-focus-label-text-color: #3f51b5;
  // --mat-tab-header-active-hover-label-text-color: #3f51b5;
  // --mat-tab-header-active-focus-indicator-color: #3f51b5;
  // --mat-tab-header-active-hover-indicator-color: #3f51b5;
}

::ng-deep .mat-mdc-tab-body-content {
  height: 100%;
   overflow: hidden !important; 
}
  