<div class="row justify-content-center">
  <div class="col-xl-11 col-lg-12">
    <div class="border p30 rounded">
      <div class="row align-items-center mb-4">
        <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
          <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Downtime Tracking</h4>
        </div>
        <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
          <a *ngIf="IsViewPermission" mat-flat-button  class="app-button back-Green"
            (click)="cancel()">
            View List
          </a>
        </div>
      </div>
      <form [formGroup]="downtimeTrackingForm" (submit)="save()" #form="ngForm" novalidate class="app-form">
        <!-- Basic Details Section -->
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="mb-0">Downtime Tracking Header</h5>
          </div>
          <div class="card-body">
            <div class="row">


              <!-- Production Date Time -->
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <!-- <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Production Date Time</mat-label>
                  <input matInput [matDatepicker]="pickerProductionDateTime" formControlName="ProductionDateTime">
                  <mat-datepicker-toggle matSuffix [for]="pickerProductionDateTime"></mat-datepicker-toggle>
                  <mat-datepicker #pickerProductionDateTime></mat-datepicker>
                  <mat-validation-message [control]="downtimeTrackingForm.controls.ProductionDateTime"
                    [message]="'Production Date Time'" [formSubmitted]="isFormSubmitted"></mat-validation-message>
                </mat-form-field> -->
                <mat-form-field appearance="fill">
                  <input matInput [ngxMatDatetimePicker]="pickerProductionDateTime" placeholder="Production Date Time"
                    formControlName="ProductionDateTime" required>
                  <button type="button" mat-icon-button (click)="pickerProductionDateTime.open()" matSuffix>
                    <mat-icon>calendar_today</mat-icon>
                  </button>
                  <ngx-mat-datetime-picker #pickerProductionDateTime apperance="fill"></ngx-mat-datetime-picker>
                </mat-form-field>
              </div>

              <!-- Product -->
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Product</mat-label>
                  <mat-select formControlName="ProductId" [disabled]="isEditMode">
                    <mat-option *ngFor="let product of productList" [value]="product.id">
                      {{ product.productName }}
                    </mat-option>
                  </mat-select>
                  <mat-validation-message [control]="downtimeTrackingForm.controls.ProductId" [message]="'Product'"
                    [formSubmitted]="isFormSubmitted"></mat-validation-message>
                </mat-form-field>
              </div>


              <!-- Filling Line -->
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Filling Line</mat-label>
                  <mat-select formControlName="productLineId" [disabled]="isEditMode">
                    <mat-option *ngFor="let line of fillingLineList" [value]="line.id">
                      {{ line.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="downtimeTrackingForm.get('FillingLineId').invalid && isFormSubmitted">
                    Filling Line is required
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Production Order</mat-label>
                  <mat-select formControlName="SAPProductionOrderId" [disabled]="isEditMode">
                    <mat-option *ngFor="let order of productionOrderList" [value]="order.id">
                      {{ order.poNumber }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="downtimeTrackingForm.get('ProductionOrderId').invalid && isFormSubmitted">
                    Production Order is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <!-- Downtime Tracking Details Section -->
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Downtime Tracking Details</h5>
          </div>
          <div class="card-body">
            <div formArrayName="downtimeTrackingDetails">
              <div *ngFor="let detail of downtimeTrackingDetails.controls; let i = index" [formGroupName]="i"
                class="row mt-3">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">

                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Start Time</mat-label>
                      <input matInput [ngxTimepicker]="startDatePicker" placeholder="Select time"
                        formControlName="StartDate">
                      <ngx-material-timepicker #startDatePicker></ngx-material-timepicker>

                    </mat-form-field>

                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>End Time</mat-label>
                      <input matInput [ngxTimepicker]="endDatePicker" placeholder="Select time"
                        formControlName="EndDate" (ngModelChange)="calculateDuration()">
                      <ngx-material-timepicker #endDatePicker></ngx-material-timepicker>

                    </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Durations</mat-label>
                      <input matInput formControlName="Durations" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Cause</mat-label>
                      <mat-select formControlName="CauseId">
                        <mat-option *ngFor="let cause of causeList" [value]="cause.id">
                          {{ cause.causeName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <!-- Shift -->
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Shift</mat-label>
                      <mat-select formControlName="ShiftId">
                        <mat-option *ngFor="let shift of shiftList" [value]="shift.id">
                          {{ shift.shiftName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Action Taken</mat-label>
                      <input matInput formControlName="ActionTaken">
                    </mat-form-field>
                  </div>

                  <!-- Done By User IDs -->
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <mat-form-field appearance="fill" class="full-width">
                      <mat-label>Action taken By </mat-label>
                      <mat-select formControlName="DoneByUserIds" multiple>
                        <mat-option *ngFor="let user of usersList" [value]="user.id">
                          {{ user.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-3 p-1 d-flex align-items-center">
                    <button type="button" mat-icon-button  (click)="addFinalDowntimeDetail()">
                      <mat-icon class="icon-green">add</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table id="gridDowntimeTracking"
                class="table table-hover table-bordered display mb-30 fixed-table-scroll-inner"
                style="overflow:scroll;width:auto">
                <thead class="bg-primary text-primary text-center">
                  <tr>
                    <th style="width:10%" class="back-Green">Start Date</th>
                    <th style="width:10%" class="back-Green">End Date</th>
                    <th style="width:15%" class="back-Green">Durations</th>
                    <th style="width:15%" class="back-Green">Shift</th>
                    <th style="width:15%" class="back-Green">Cause</th>
                    <th style="width:20%" class="back-Green">Action Taken</th>
                    <th style="width:20%" class="back-Green">Action Taken By</th>
                    <th style="width:5%" class="back-Green">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let detail of addedDowntimeTrackingDetailsList; let i = index">
                    <td>{{ detail.StartDate }}</td>
                    <td>{{ detail.EndDate }}</td>
                    <td>{{ detail.Durations }}</td>
                    <td>{{ shiftMap.get(detail.ShiftId) || 'Unknown' }}</td>
                    <td>{{ causeMap.get(detail.CauseId) || 'Unknown' }}</td>
                    <td>{{ detail.ActionTaken }}</td>
                    <td>
                      <ng-container *ngFor="let userId of detail.DoneByUserIds">
                        {{ userMap.get(userId) || 'Unknown' }}
                        <ng-container *ngIf="!last"> </ng-container>
                      </ng-container>
                    </td>
                    <td class="text-center">
                      <button (click)="onEditDetail(detail, i)" type="button"
                        class="btn btn-primary btn-sm btnModifyRow back-Green">
                        <i class="fa fa-pencil "></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 text-center">
            <button type="submit" mat-flat-button  class="app-button mr-1 back-Green">Save</button>
          </div>
        </div>
      </form>
      <!-- Static Data Section -->
      <div class="static-data">
        <h5>DOWNTIME REPORTING INSTRUCTION</h5>
        <ul>
          <li>1. Downtime (D/T) to be documented whenever the FILLER is NOT running. Operator to record the Duration and
            Cause as well as the Actions Taken to correct the issue.</li>
          <li>2. A Breakdown (B/D) is any single stop which is greater than 10 minutes. All other down time to be
            registered as accumulated. When a B/D occurs notify the Shift Supervisor/Production Manager and record under
            Action Taken.</li>
          <li>3. If a Quality issue is the cause, notify the Shift Supervisor/Production Manager and QA and record under
            Action Taken.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
