<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end leftSideHeader">
                    <h4 class="mb20 float-left"><i class="icon-edit"></i> Add/Edit BOM</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end rightSideHeader mb10">
                    <a *authPermission="page + '_' + permissions.list" mat-flat-button color="primary" class="app-button" (click)="cancel()">
                        View List
                    </a>
                </div>
            </div>
            <div>
                <form [formGroup]="frmBOM" (submit)="save()" #form="ngForm" novalidate class="app-form">
                    <div class="row">
                        <!-- BOMMaster fields -->
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>BOM Code</mat-label>
                                <input type="text" matInput formControlName="bomCode">
                                <mat-validation-message [control]="frmBOM.controls.bomCode" [message]="'BOM Code'" [formSubmitted]="isFormSubmitted">
                                </mat-validation-message>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>BOM Name</mat-label>
                                <input type="text" matInput formControlName="bomName">
                                <mat-validation-message [control]="frmBOM.controls.bomName" [message]="'BOM Name'" [formSubmitted]="isFormSubmitted">
                                </mat-validation-message>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Finished Product</mat-label>
                                <input type="text" matInput formControlName="finishedProduct">
                                <mat-validation-message [control]="frmBOM.controls.finishedProduct" [message]="'Finished Product'" [formSubmitted]="isFormSubmitted">
                                </mat-validation-message>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Base Qty</mat-label>
                                <input type="number" matInput formControlName="baseQty">
                                <mat-validation-message [control]="frmBOM.controls.baseQty" [message]="'Base Qty'" [formSubmitted]="isFormSubmitted">
                                </mat-validation-message>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8">
                            <mat-form-field>
                                <mat-label>Remarks</mat-label>
                                <input type="text" matInput formControlName="remarks">
                                <mat-validation-message [control]="frmBOM.controls.remarks" [message]="'Remarks'" [formSubmitted]="isFormSubmitted">
                                </mat-validation-message>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h5 class="mt-4">BOM Details</h5>
                            <button type="button" mat-flat-button color="primary" (click)="addDetail()">Add Detail</button>
                        </div>
                    </div>

                    <div formArrayName="details">
                        <div *ngFor="let detail of details.controls; let i=index" [formGroupName]="i" class="row mt-3">
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Raw Product Code</mat-label>
                                    <input type="text" matInput formControlName="rawProductCode">
                                    <mat-validation-message [control]="detail.get('rawProductCode')" [message]="'Raw Product Code'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field>
                                    <mat-label>Component Code</mat-label>
                                    <input type="text" matInput formControlName="componentCode">
                                    <mat-validation-message [control]="detail.get('componentCode')" [message]="'Component Code'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>Qty</mat-label>
                                    <input type="number" matInput formControlName="qty">
                                    <mat-validation-message [control]="detail.get('qty')" [message]="'Qty'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>UOM</mat-label>
                                    <input type="text" matInput formControlName="uom">
                                    <mat-validation-message [control]="detail.get('uom')" [message]="'UOM'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 d-flex align-items-center">
                                <button type="button" mat-icon-button color="warn" (click)="addDetail()">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button type="button" mat-icon-button color="warn" (click)="removeDetail(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button type="submit" mat-flat-button color="primary" class="app-button mr-1">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
