a {
    font-size: 1em;
}

.back-Green{
    background-color:  rgb(23, 187, 88) !important;
    color: white !important ;              /* Text color */
  }

  .white-spinner {
    color: white !important;
  }

  :host ::ng-deep  input:-internal-autofill-selected {
    background-color: lightgreen !important;
}