<div>
    <mat-toolbar color="primary" class="app-header">
        <mat-toolbar-row>
            <!-- Logo and Dashboard -->
            <!-- <a mat-button routerLinkActive="active" [routerLink]="['/secure/dashboard']">
                <img [src]="imagePath" class="img img-logo" />
            </a> -->

            <a mat-button *ngIf="ProductionOrderPermission" routerLinkActive="active" [routerLink]="['/secure/masters', 'production-order']">
                <img [src]="imagePath" class="img img-logo" />
            </a>

            <!-- Main Menu Links -->
            <div fxShow="true" fxHide.lt-md>

                <!-- Masters Menu -->
                <button mat-button [matMenuTriggerFor]="mastersMenu" aria-label="Masters Menu"
                    matTooltip="Masters Menu">
                    Master
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #mastersMenu="matMenu">
                    <a *ngIf="UserPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'user']">User</a>
                    <a *ngIf="RolePermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'role']">Role</a>
                </mat-menu>

                <!-- Configuration Menu -->
                <button mat-button [matMenuTriggerFor]="ProcessMenu" aria-label="Process Menu"
                    matTooltip="Process Menu">
                    Process
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #ProcessMenu="matMenu">
                    <a  *ngIf="hasPermission('Weight Check (PER_WEIGHTCHECK) - View')"  routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'weight-check']">Weight Check</a>
                    <a *ngIf="TrailerLoadingPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'trailor-loading']">Trailer Loading</a>
                    <a *ngIf="PalletPackingPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'pallet-packing']">Pallet Packing</a>
                    <a *ngIf="AttributeCheckPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'attribute-check']">Attribute Check</a>
                    <a *ngIf="TrailerInspectionPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'trailer-inspection']">Trailer Inspection</a>
                    <a *ngIf="DowntimeTrackingPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'downtimeTracking']">DownTime Tracking</a>
                    <a *ngIf="LiquidPreaprationPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'liquid-preparation']">Liquid Preparation</a>
                    <a *ngIf="PostCheckPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'post-check']">
                        Post Check</a>
                    <a *ngIf="PrecheckPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'pre-check']">
                        Pre Check</a>
                    <!-- <a *ngIf="ProductionOrderPermission" routerLinkActive="active" mat-menu-item
                        [routerLink]="['/secure/masters', 'production-order']">
                        Production Order
                    </a> -->
                </mat-menu>

                <!-- Transactions Menu -->
                <!-- <button mat-button [matMenuTriggerFor]="transactionsMenu" aria-label="Transactions Menu"
                    matTooltip="Transactions Menu">
                    Transaction
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #transactionsMenu="matMenu">
                    <a routerLinkActive="active" mat-menu-item [routerLink]="['/secure/masters', 'sales-order']"
                        *authPermission="salesOrderPage + '_' + permissions.list">Sales Order</a>
                    <a routerLinkActive="active" mat-menu-item [routerLink]="['/secure/masters', 'purchase-order']"
                        *authPermission="purchaseOrderPage + '_' + permissions.list">Purchase Order</a>
                    <a routerLinkActive="active" mat-menu-item [routerLink]="['/secure/masters','inward']"
                        *authPermission="inwardPage + '_' + permissions.list">
                        Inwards
                    </a>
                    <a routerLinkActive="active" mat-menu-item [routerLink]="['/secure/masters','outward']"
                        *authPermission="outwardPage + '_' + permissions.list">
                        Outwards
                    </a>
                    <a routerLinkActive="active" mat-menu-item [routerLink]="['/secure/masters', 'quality-parameter']"
                        *authPermission="qualityParameterPage + '_' + permissions.list">
                        Quality Parameter
                    </a>
                    <a routerLinkActive="active" mat-menu-item [routerLink]="['/secure/masters','material-requisition']"
                        *authPermission="materialRequisitionPage + '_' + permissions.list">
                        Material Requisitions
                    </a>
                </mat-menu> -->
            </div>

            <!-- Spacer -->
            <span class="menu-spacer"></span>

            <!-- Profile Menu -->
            <button mat-button [matMenuTriggerFor]="profileMenu" aria-label="User Profile"
                matTooltip="User Profile Menu">
                {{userName}}
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #profileMenu="matMenu">
                <!-- <a mat-menu-item href="javascript:void(0);" (click)="changePassword()">Change Password</a> -->
                <a mat-menu-item [routerLink]="['', 'logout']">Logout</a>
            </mat-menu>

            <!-- Sidenav Toggle for Small Screens -->
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav position="end">
            <mat-nav-list>
                <a *ngIf="UserPermission" routerLinkActive="active" mat-list-item (click)="sidenav.toggle()"
                    [routerLink]="['/secure','dashboard']">Dashboard</a>
                <a *ngIf="UserPermission" routerLinkActive="active" mat-list-item (click)="sidenav.toggle()"
                    [routerLink]="['/secure/masters','user']">User</a>
                <a *ngIf="RolePermission" routerLinkActive="active" mat-list-item (click)="sidenav.toggle()"
                    [routerLink]="['/secure/masters','role']">Role</a>
                <!-- <a routerLinkActive="active" mat-list-item (click)="sidenav.toggle()"
                    [routerLink]="['/secure/masters','permissions']"
                    *authPermission="permissionPage + '_' + permissions.edit">Permission</a> -->
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <div class="app-container container-fluid">
                <router-outlet class="app-router-outlet"></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>