.button-padding mat-icon,
.button-padding i {
  font-size: 24px;
  /* Adjust the size as needed */
  vertical-align: middle;
  /* Align icon vertically in the middle */
}

.button-padding {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: inherit;
}

::ng-deep .ngx-datatable .datatable-header-cell {
  background-color: rgb(23, 187, 88) !important;
  color: white !important;
  /* Text color */
}

.icon-green {
  color: green;
  /* Set the color for remove_circle_outline */
}

.btn {
  background-color: rgb(23, 187, 88) !important;
  color: white !important;
  /* Text color */
}

::ng-deep .ngx-datatable.material .datatable-body .progress-linear .container {
  background-color: lightgreen;
}

::ng-deep .ngx-datatable.material .datatable-body .progress-linear .container .bar {
  background-color: green;
}


::ng-deep .mat-mdc-form-field-infix {
  min-height: 0px !important; 
  padding-top: 8px !important; 
 padding-bottom: 0px !important;
}


::ng-deep .mat-mdc-floating-label {
 top: 20px !important;
}

::ng-deep .mat-mdc-header-row {
 height: 30px !important;
}

//  ::ng-deep .mat-mdc-row {
//   height: 30px !important;
// }

::ng-deep .mat-mdc-cell {
 line-height: 30px !important;
}
