<div class="container">
    <div class="border p-3 rounded">
      <div class="row align-items-center mb-4">
        <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
          <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Permission</h4>
        </div>
        <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
          <a  mat-flat-button color="primary"
             class="app-button" (click)="cancel()">
            View List
          </a>
        </div>
      </div>
  
      <form [formGroup]="permissionForm" (submit)="save()" class="app-form">
        <!-- Role Selection -->
        <div class="form-group">
          <label for="roleId">Role</label>
          <select id="roleId" class="form-control" formControlName="roleId">
            <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
  
        <!-- Permission Selection -->
        <div class="form-group">
          <label for="permissionId">Permission</label>
          <select id="permissionId" class="form-control" formControlName="permissionId">
            <option *ngFor="let permission of permissions" [value]="permission.id">{{ permission.name }}</option>
          </select>
        </div>
  
        <!-- Checkbox Permissions -->
        <div class="form-group">
          <label>Permissions</label>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="viewCheckbox" formControlName="view">
            <label class="form-check-label" for="viewCheckbox">View</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="addCheckbox" formControlName="add">
            <label class="form-check-label" for="addCheckbox">Add</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="editCheckbox" formControlName="edit">
            <label class="form-check-label" for="editCheckbox">Edit</label>
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="deleteCheckbox" formControlName="delete">
            <label class="form-check-label" for="deleteCheckbox">Delete</label>
          </div>
        </div>
  
        <!-- Submit Button -->
        <div class="row">
          <div class="col-lg-12 text-center">
            <button type="submit" mat-flat-button color="primary" class="app-button mr-1">
              {{ isEditMode ? 'Update' : 'Save' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  