<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center">
                <div class="col-lg-7 col-sm-9 col-10 d-flex align-items-end leftSideHeader">
                    <h4 class="mb20 float-left">Permission</h4>
                </div>               
            </div>
            <div>
            <form #form="ngForm" novalidate class="app-form"  [formGroup]="frmPermission" >
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Role *</mat-label>
                                <mat-select formControlName="roleId" (selectionChange)="getRolePermission()">
                                    <mat-option *ngFor="let item of roleData" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>                                                              
                            </mat-form-field>
                        </div>
                    </div>
                    <accordion>
                        <accordion-group *ngFor="let module of moduleData" [isOpen]="false" #myGroup>
                            <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                                <div class="pull-left float-left">{{module.name}}</div>
                                <span class="float-right pull-right"><i class="fa"
                                        [ngClass]="{'fa-arrow-up': myGroup?.isOpen, 'fa-arrow-down': !myGroup?.isOpen}"></i>
                                </span>
                            </button>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="m-checkbox-inline">
                                        <label class="m-checkbox">
                                            <input type="checkbox" [(ngModel)]="module.hasAllAccess"
                                                [ngModelOptions]="{standalone: true}"
                                                (change)="chkAllAccess(module,$event)">
                                            Provide Full Access
                                            <span></span>
                                        </label>
                                        <label class="m-checkbox" hidden>
                                            <input type="checkbox" [(ngModel)]="module.hasAllMasterAccess"
                                                [ngModelOptions]="{standalone: true}"
                                                (change)="chkAllMasterAccess(module,$event)">
                                            All
                                            Master Access
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 10px;">
                                <div class="col-md-3" *ngFor="let group of module.moduleGroups"
                                    style="border:1px solid lightgray;border-radius: 5px;margin: 8px;padding: 10px;">
                                    <h5><b>{{group.name}}</b></h5>
                                    <div class="row" *ngFor="let item of group.permissions">
                                        <div class="col-md-5">
                                            {{item.name}}
                                        </div>
                                        <div class="col-md-7">
                                            <div class="m-checkbox-inline">
                                                <label class="m-checkbox">
                                                    <input [name]="'access' + item.id" type="checkbox"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="item.hasAccess">
                                                    Access
                                                    <span></span>
                                                </label>
                                                <label class="m-checkbox hidden" style="display: none;">
                                                    <input [name]="'masteraccess' + item.id" type="checkbox"
                                                        [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="item.hasMasterAccess"
                                                        (change)="masterChanged(item)">
                                                    All
                                                    Master Access
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>                    
                    <div class="row">
                        <div class="col-lg-12 text-center">                            
                            <button type="submit" (click)="save()" mat-flat-button color="primary" class="app-button mr-1">Save
                            </button>
                        </div>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>