<div class="row public-box justify-content-center">
    <div class="col-sm-6 col-12 align-self-center" fxFlexFill>
        <div class="border public-page-padding rounded bg-white text-center" fxFlexFill>
            <h5 class="mb-4">Oops! You are not authorized to view last visited page.
                You need to get permission from admin to view the page.
            </h5>
            <a color="success" mat-flat-button [routerLink]="['../login']">
                <mat-icon>arrow_back</mat-icon>
                Return home
            </a>
        </div>
    </div>
</div>