<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p-3 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0"><i class="icon-edit"></i> Inventory Type List</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a *authPermission="page + '_' + permissions.create" mat-flat-button color="primary"
                        class="app-button" [routerLink]="['../', 'add']">
                        <span>Add New</span>
                        <i class="icon-plus"></i>
                    </a>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-9">
                    <inventory-type-search-panel (searchChanged)="updateSearch($event)">
                    </inventory-type-search-panel>
                </div>
                <div class="col-lg-3">
                    <button mat-flat-button color="primary" (click)="exportToExcel()" class="app-button"
                        style="float: right;">
                        Export to Excel
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- [count]="totalCount" [offset]="currentPage - 1" (page)="$event.page" -->
                    <ngx-datatable class="material" [rows]="inventoryTypeData | searchtable : searchData"
                        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
                        [loadingIndicator]="loading" [scrollbarH]="true" [rowClass]="isActiveRow"
                        [messages]="{emptyMessage:'No Data to Display',totalMessage:'Total'}">
                        <ngx-datatable-column name="Inventory Type Code" prop="inventoryTypeCode">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Inventory Type Name" prop="inventoryTypeName">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Applicable To" prop="applicableToName">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Inward Type" prop="inwardType"></ngx-datatable-column>
                        <ngx-datatable-column name="Sales" prop="sales"></ngx-datatable-column>
                        <ngx-datatable-column name="Purchase" prop="purchase"></ngx-datatable-column>
                        <ngx-datatable-column name="Reserve" prop="reserve"></ngx-datatable-column>
                        <ngx-datatable-column name="Admin" prop="admin"></ngx-datatable-column>
                        <ngx-datatable-column name="Actions" [sortable]="false">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <a *authPermission="page + '_' + permissions.edit" class="button-padding"
                                    color="primary" [routerLink]="['..', 'edit', row.id]">
                                    <mat-icon>edit</mat-icon>
                                </a>
                                <ng-container *authPermission="page + '_' + permissions.active" class="ml-10">
                                    <a *ngIf="row.isActive" class="button-padding" color="primary"
                                        (click)="toggleActivateInventoryType(row, false)">
                                        <mat-icon>lock</mat-icon>
                                    </a>
                                    <a *ngIf="!row.isActive" class="button-padding" color="primary"
                                        (click)="toggleActivateInventoryType(row, true)">
                                        <mat-icon>lock_open</mat-icon>
                                    </a>
                                </ng-container>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                    <!-- <mat-paginator [length]="totalCount" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"
                        (page)="paginate($event)">
                    </mat-paginator> -->
                </div>
            </div>
        </div>
    </div>
</div>