

.app-row{
    height: calc(100vh - 158px - 4em);
  }
  
  @media only screen and (max-width: 1279px) {
    .app-row { 
        height: calc(100vh - 137px - 4em);
    }
}

  @media only screen and (max-width: 768px) {
    .app-row { 
        height: calc(100vh - 177px - 4em);
    }
    
  }
  
  @media only screen and (max-width: 567px) {
    .app-row { 
        height: calc(100vh - 216px - 4em);
    }
  }   