.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: rgb(23, 187, 88) !important;
    border-bottom: 1px solid rgb(23, 187, 88) !important;
    padding: 0.75rem 1.25rem;
    color: white;
}

.card-body {
    padding: 1.25rem;
}

.mat-icon {
    vertical-align: middle;
}

.full-width {
    width: 100%;
}

.mb-3 {
    margin-bottom: 1rem; /* Adjust as needed */
}

.card-header {
    background-color: rgb(23, 187, 88) !important;
    border-bottom: 1px solid rgb(23, 187, 88) !important;
    padding: 0.75rem 1.25rem;
    color: white;
}

.back-Green{
    background-color:  rgb(23, 187, 88) !important;
    color: white !important ;              /* Text color */
  }

  .icon-green {
    color: green;  /* Set the color for remove_circle_outline */
  }

  ::ng-deep .ngx-datatable.material .datatable-body .progress-linear .container {
    background-color: lightgreen;
  }
  
  ::ng-deep .ngx-datatable.material .datatable-body .progress-linear .container .bar {
    background-color: green;
  }