<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Weight Check</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a *ngIf="IsViewPermission" mat-flat-button color="primary" class="app-button back-Green"
                        (click)="cancel()">
                        View List
                    </a>
                </div>
            </div>
            <form [formGroup]="WeightCheckForm" (submit)="save()" #form="ngForm" novalidate class="app-form">
                <!-- Basic Details Section -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">Basic Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <!-- Start Date Time -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="pickerStart" [max]="getToday()"
                                        (dateChange)="onStartDateChange()" formControlName="StartDateTime">
                                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerStart></mat-datepicker>
                                    <mat-validation-message [control]="WeightCheckForm.controls.StartDateTime"
                                        [message]="'Start Date Time'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>

                            <!-- End Date Time -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>End Date</mat-label>
                                    <input matInput [matDatepicker]="pickerEnd"
                                        [min]="WeightCheckForm.controls.StartDateTime" (dateChange)="onEndDateChange()"
                                        formControlName="EndDateTime">
                                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerEnd></mat-datepicker>
                                    <mat-validation-message [control]="WeightCheckForm.controls.EndDateTime"
                                        [message]="'End Date Time'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>

                            <!-- Shift -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Shift</mat-label>
                                    <mat-select formControlName="ShiftId">
                                        <mat-option *ngFor="let shift of shiftList" [value]="shift.id">
                                            {{ shift.shiftName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-validation-message [control]="WeightCheckForm.controls.ShiftId"
                                        [message]="'Shift'" [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>

                            <!-- SAP Production Order -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>SAP Production Order</mat-label>
                                    <mat-select formControlName="SAPProductionOrderId" [disabled]="isEditMode">
                                        <mat-option *ngFor="let order of productionOrderList" [value]="order.id">
                                            {{ order.poNumber }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-validation-message [control]="WeightCheckForm.controls.SAPProductionOrderId"
                                        [message]="'SAP Production Order'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>

                            <!-- Product -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Product</mat-label>
                                    <mat-select formControlName="ProductId" [disabled]="isEditMode">
                                        <mat-option *ngFor="let product of productList" [value]="product.id">
                                            {{ product.productName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-validation-message [control]="WeightCheckForm.controls.ProductId"
                                        [message]="'Product'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>

                            <!-- Bottle Date Code -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Bottle Date Code</mat-label>
                                    <input matInput formControlName="BottleDateCode">
                                    <mat-validation-message [control]="WeightCheckForm.controls.BottleDateCode"
                                        [message]="'Bottle Date Code'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>

                            <!-- Pack Size -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Pack Size</mat-label>
                                    <input matInput formControlName="PackSize" type="number" >
                                    <mat-validation-message [control]="WeightCheckForm.controls.PackSize"
                                        [message]="'Pack Size'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>

                            <!-- Standard Weight -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Standard Weight</mat-label>
                                    <input matInput formControlName="StandardWeight" type="number" min="0">
                                    <mat-validation-message [control]="WeightCheckForm.controls.StandardWeight"
                                        [message]="'Standard Weight'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>
                            <!-- <div *ngIf="WeightCheckForm.hasError('rangeError')">
                                Max Weight Range should be greater than Min Weight Range
                              </div> -->

                            <!-- Min Weight Range -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Min Weight Range</mat-label>
                                    <input matInput formControlName="MinWeightRange" type="number" min="0" (change)="onWeightRangeChange()" >
                                    <mat-validation-message [control]="WeightCheckForm.controls.MinWeightRange"
                                    [message]="'Min Weight Range'"
                                    [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                    <!-- <mat-error
                                        *ngIf="WeightCheckForm.get('MinWeightRange').hasError('required') && isFormSubmitted">
                                        Min Weight Range is required.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="WeightCheckForm.get('MinWeightRange').hasError('min') && isFormSubmitted">
                                        Min Weight Range must be a non-negative number.
                                    </mat-error> -->
                                </mat-form-field>
                            </div>

                            <!-- Max Weight Range -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Max Weight Range</mat-label>
                                    <input matInput formControlName="MaxWeightRange" type="number" min="0" (change)="onWeightRangeChange()">
                                    <mat-validation-message [control]="WeightCheckForm.controls.MaxWeightRange"
                                        [message]="'Max Weight Range'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                    <!-- <mat-error
                                        *ngIf="WeightCheckForm.get('MaxWeightRange').hasError('required') && isFormSubmitted">
                                        Max Weight Range is required.
                                    </mat-error> -->

                                </mat-form-field>
                            </div>

                            <!-- QA User -->
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>QA User</mat-label>
                                    <mat-select formControlName="QAUserId">
                                        <mat-option *ngFor="let user of usersList" [value]="user.id">
                                            {{ user.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-validation-message [control]="WeightCheckForm.controls.QAUserId"
                                        [message]="'QA User'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>

                            <!-- Note -->
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Note</mat-label>
                                    <textarea matInput formControlName="Note"></textarea>
                                    <mat-validation-message [control]="WeightCheckForm.controls.Note" [message]="'Note'"
                                        [formSubmitted]="isFormSubmitted"></mat-validation-message>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Weight CHeck Detail Section -->
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Nozzlewise Weight Details</h5>
                        <!-- <button type="button" mat-flat-button color="primary" (click)="addCustomerDetail()">Add Address</button> -->
                    </div>
                    <div class="card-body">
                        <div formArrayName="WeightCheckDetails">

                            <div *ngFor="let weight of WeightCheckDetails?.controls; let i = index" [formGroupName]="i"
                                class="row mt-3">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-3 ">
                                        <mat-form-field class="full-width">
                                            <mat-label>Time</mat-label>
                                            <input matInput [ngxTimepicker]="timepicker" placeholder="Select time"
                                                formControlName="Time">
                                            <ngx-material-timepicker #timepicker></ngx-material-timepicker>
                                        </mat-form-field>
                                    </div>
                                    <div *ngFor="let nozzle of NozzleList"
                                        class="col-12 col-sm-12 col-md-1 col-lg-1 mb-3 ">
                                        <mat-form-field class="full-width">
                                            <mat-label>{{ nozzle.nozzelName }}</mat-label>
                                            <input type="number" matInput [formControlName]="nozzle.nozzelName" min="0">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 mb-3 p-1">
                                        <mat-form-field class="full-width">
                                            <mat-label>Done By</mat-label>
                                            <mat-select formControlName="DoneBy" multiple>
                                                <mat-option *ngFor="let user of usersList" [value]="user.id">
                                                    {{ user.name }}
                                                </mat-option>
                                            </mat-select>
                                            <!-- <mat-validation-message [control]="weight.get('DoneBy')" [message]="'Done By'" [formSubmitted]="isFormSubmitted">
                                      </mat-validation-message> -->
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 mb-3 p-1 d-flex align-items-center">
                                        <button type="button" mat-icon-button class="icon-green"
                                            (click)="addFinalWeightDetail()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="gridNozzlewiseWeight"
                                class="table table-hover table-bordered display mb-30 fixed-table-scroll-inner" >
                                <thead class="bg-primary text-primary text-center ">
                                    <tr>
                                        <th style="width:8%" class="back-Green"></th>
                                        <th style="width:12%" class="back-Green"></th>
                                        <th class="back-Green" style="text-align:center"
                                            [attr.colspan]="NozzleList.length">Nozzle(s)</th>
                                        <th class="back-Green" style="width:8%"></th>
                                        <th class="back-Green" style="width:5%"></th>
                                    </tr>
                                    <tr>
                                        <th class="back-Green">Time</th>
                                        <th class="back-Green">Done By</th>
                                        <th class="back-Green" data-nozzleid="1" *ngFor="let nozzle of NozzleList">{{
                                            nozzle.nozzelName }}
                                        </th>
                                        <th class="back-Green">Avg Weight</th>
                                        <th class="back-Green">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let weight of AddedWeightCheckDetailsList; let i = index">
                                        <td> {{weight.Time}} </td>
                                        <td> {{weight.DoneByNames}} </td>
                                        <td *ngFor="let nozzle of NozzleList"> {{ weight[nozzle.nozzelName] || ''}}
                                        </td>
                                        <td> {{weight.Average | number:'1.2-2'}} </td>
                                        <td> <button (click)="onEditDetail(weight,i)" type="button"
                                                class="btn btn-success btn-sm btnModifyRow back-Green"><i
                                                    class="fa fa-pencil "></i></button>
                                            <!-- <button (click)="removeWeightDetail(i)" type="button" class="btn btn-danger btn-sm btnRemoveRow"><i class="fa fa-close"></i></button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" mat-flat-button class="app-button mr-1 back-Green">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>