<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Quality Parameter</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a *authPermission="page + '_' + permissions.list" mat-flat-button color="primary"
                        class="app-button" (click)="cancel()">
                        View List
                    </a>
                </div>
            </div>
            <form [formGroup]="qualityParameterForm" (ngSubmit)="save()" #form="ngForm" novalidate class="app-form">
                <!-- Quality Parameter Information -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">Basic Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Quality Parameter Code</mat-label>
                                    <input type="text" matInput formControlName="qualityParameterCode">
                                    <mat-validation-message [control]="qualityParameterForm.controls.qualityParameterCode"
                                        [message]="'Quality Parameter Code'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Revision No</mat-label>
                                    <input type="text" matInput formControlName="revisionNo">
                                    <mat-validation-message [control]="qualityParameterForm.controls.revisionNo"
                                        [message]="'Revision No'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Drawing Number</mat-label>
                                    <input type="text" matInput formControlName="drawingNumber">
                                    <mat-validation-message [control]="qualityParameterForm.controls.drawingNumber"
                                        [message]="'Drawing Number'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Product</mat-label>
                                    <mat-select formControlName="productId">
                                        <mat-option *ngFor="let product of products" [value]="product.id">
                                            {{ product.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-validation-message [control]="qualityParameterForm.controls.productId"
                                        [message]="'Product'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Quantity To Be Checked(%)</mat-label>
                                    <input type="number" matInput formControlName="qcQuantity">
                                    <mat-validation-message [control]="qualityParameterForm.controls.qcQuantity"
                                        [message]="'Quantity To Be Checked(%)'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Approval Status</mat-label>
                                    <mat-select formControlName="approvalStatusId">
                                        <mat-option *ngFor="let status of approvalStatuses" [value]="status.id">
                                            {{ status.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-validation-message [control]="qualityParameterForm.controls.approvalStatusId"
                                        [message]="'Approval Status'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Quality Parameter Details -->
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Quality Parameter Details</h5>
                        <button type="button" mat-flat-button color="primary" (click)="addQualityParameterDetail()">
                            Add Parameter
                        </button>
                    </div>
                    <div class="card-body">
                        <div formArrayName="qcParameterDetails">
                            <div *ngFor="let detail of qcParameterDetails.controls; let i = index"
                                [formGroupName]="i" class="row mt-3">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Parameter</mat-label>
                                        <mat-select formControlName="parameterId">
                                            <mat-option *ngFor="let parameter of parameters" [value]="parameter.id">
                                                {{ parameter.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="detail.get('parameterId')"
                                            [message]="'Parameter'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Class</mat-label>
                                        <mat-select formControlName="classId">
                                            <mat-option *ngFor="let classItem of classes" [value]="classItem.id">
                                                {{ classItem.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="detail.get('classId')"
                                            [message]="'Class'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>LSL Dimension</mat-label>
                                        <mat-select formControlName="lslDimensionId">
                                            <mat-option *ngFor="let lsl of lslDimensions" [value]="lsl.id">
                                                {{ lsl.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="detail.get('lslDimensionId')"
                                            [message]="'LSL Dimension'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>USL Dimension</mat-label>
                                        <mat-select formControlName="uslDimensionId">
                                            <mat-option *ngFor="let usl of uslDimensions" [value]="usl.id">
                                                {{ usl.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="detail.get('uslDimensionId')"
                                            [message]="'USL Dimension'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Measuring Instrument</mat-label>
                                        <mat-select formControlName="measuringInstrumentId">
                                            <mat-option *ngFor="let instrument of measuringInstruments" [value]="instrument.id">
                                                {{ instrument.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="detail.get('measuringInstrumentId')"
                                            [message]="'Measuring Instrument'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Sample Frequency</mat-label>
                                        <mat-select formControlName="sampleFrequencyId">
                                            <mat-option *ngFor="let frequency of sampleFrequencies" [value]="frequency.id">
                                                {{ frequency.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="detail.get('sampleFrequencyId')"
                                            [message]="'Sample Frequency'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Reporting Frequency</mat-label>
                                        <mat-select formControlName="reportingFrequencyId">
                                            <mat-option *ngFor="let frequency of reportingFrequencies" [value]="frequency.id">
                                                {{ frequency.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="detail.get('reportingFrequencyId')"
                                            [message]="'Reporting Frequency'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Dimension</mat-label>
                                        <input type="number" matInput formControlName="dimension">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Tolerance</mat-label>
                                        <input type="text" matInput formControlName="tolerance">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1 d-flex align-items-center">
                                    <button type="button" mat-icon-button color="warn" (click)="addQualityParameterDetail()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button type="button" mat-icon-button color="warn" (click)="removeQualityParameterDetail(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Quality Parameter Documents -->
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Quality Parameter Documents</h5>
                        <button type="button" mat-flat-button color="primary" (click)="addQualityParameterDocument()">
                            Add Document
                        </button>
                    </div>
                    <div class="card-body">
                        <div formArrayName="qcParameterDocuments">
                            <div *ngFor="let document of qcParameterDocuments.controls; let i = index" [formGroupName]="i"
                                class="row mt-3">
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-label>Document Name</mat-label>
                                        <input type="text" matInput formControlName="documentName">
                                        <mat-validation-message [control]="document.get('documentName')"
                                            [message]="'Document Name'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <input type="hidden" formControlName="uniqueId">
                                    <file-uploader [documents]="this.qualityParameterData?.qcParameterDocuments[i]?.picture"
                                        [isEditMode]="isEditMode" [label]="''"
                                        [hideUploader]="this.qualityParameterData?.qcParameterDocuments[i]?.hideUploader"
                                        [uploader]="this.qualityParameterData?.qcParameterDocuments[i]?.uploader?.uploader"
                                        (removeDocument)="removeEditFile(this.qualityParameterData?.qcParameterDocuments[i])"
                                        (selectedFile)="selectedFile(this.qualityParameterData?.qcParameterDocuments[i])">
                                    </file-uploader>
                                </div>
                                <div class="col-md-2 d-flex align-items-center">
                                    <button type="button" mat-icon-button color="warn" (click)="addQualityParameterDocument()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button type="button" mat-icon-button color="warn" (click)="removeQualityParameterDocument(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" mat-flat-button color="primary" class="app-button" style="margin-right: 10px;">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>