<!-- src/app/job-card/job-card-search-panel/job-card-search-panel.component.html
<form>
    <mat-form-field>
      <mat-label>Job Title</mat-label>
      <input matInput (ngModelChange)="updateSearchTerms('jobTitle', $event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Assigned To</mat-label>
      <input matInput (ngModelChange)="updateSearchTerms('assignedTo', $event)">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <input matInput (ngModelChange)="updateSearchTerms('status', $event)">
    </mat-form-field>
  </form>
   -->