<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Location</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a *authPermission="page + '_' + permissions.list" mat-flat-button color="primary"
                        class="app-button" (click)="cancel()">
                        View List
                    </a>
                </div>
            </div>
            <form [formGroup]="frmLocation" (submit)="save()" #form="ngForm" novalidate class="app-form">
                <!-- Basic Details Section -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">Basic Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Location Code</mat-label>
                                    <input type="text" matInput formControlName="locationCode">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Location Name</mat-label>
                                    <input type="text" matInput formControlName="locationName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Company</mat-label>
                                    <mat-select formControlName="companyId">
                                        <mat-option *ngFor="let company of companies" [value]="company.id">
                                            {{ company.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Address Line 1</mat-label>
                                    <input type="text" matInput formControlName="addressLine1">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Address Line 2</mat-label>
                                    <input type="text" matInput formControlName="addressLine2">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Address Line 3</mat-label>
                                    <input type="text" matInput formControlName="addressLine3">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <input type="text" matInput formControlName="city">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="stateId">
                                        <mat-option *ngFor="let state of states" [value]="state.id">
                                            {{ state.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="countryId">
                                        <mat-option *ngFor="let country of countries" [value]="country.id">
                                            {{ country.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Pincode</mat-label>
                                    <input type="text" matInput formControlName="pincode">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Warehouse Details Section -->
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Warehouse Details</h5>
                        <button type="button" mat-flat-button color="primary" (click)="addWarehouseDetail()">Add
                            Warehouse</button>
                    </div>
                    <div class="card-body">
                        <div formArrayName="locationWarehouseDetails">
                            <div *ngFor="let detail of locationWarehouseDetails.controls; let i=index"
                                [formGroupName]="i" class="row mt-3">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input type="hidden" formControlName="id">
                                        <mat-label>Warehouse Name</mat-label>
                                        <input type="text" matInput formControlName="warehouseName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Address Line 1</mat-label>
                                        <input type="text" matInput formControlName="addressLine1">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Address Line 2</mat-label>
                                        <input type="text" matInput formControlName="addressLine2">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Address Line 3</mat-label>
                                        <input type="text" matInput formControlName="addressLine3">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>City</mat-label>
                                        <input type="text" matInput formControlName="city">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>State</mat-label>
                                        <mat-select formControlName="stateId">
                                            <mat-option *ngFor="let state of states" [value]="state.id">
                                                {{ state.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Country</mat-label>
                                        <mat-select formControlName="countryId">
                                            <mat-option *ngFor="let country of countries" [value]="country.id">
                                                {{ country.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Pincode</mat-label>
                                        <input type="text" matInput formControlName="pincode">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1 d-flex align-items-center">
                                    <button type="button" mat-icon-button color="warn" (click)="addWarehouseDetail()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button type="button" mat-icon-button color="warn"
                                        (click)="removeWarehouseDetail(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" mat-flat-button color="primary" class="app-button mr-1">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>