<div class="row justify-content-center align-items-center h-100">
    <div class="col-sm-8 col-md-6 col-lg-4">
        <div class="border p30 rounded">
            <h4>Change Password</h4>
            <form novalidate [formGroup]="frmPassword" #form="ngForm" (submit)="save()" class="app-form">
               <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label>Town</mat-label>
                        <mat-select formControlName="parkingAuthorityId" (selectionChange)="townChanged()">
                            <mat-option *ngFor="let item of townData" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-validation-message [control]="frmPassword.controls.parkingAuthorityId"
                            [message]="'Town'" [formSubmitted]="isFormSubmitted">
                        </mat-validation-message>
                    </mat-form-field>
                </div>
               </div>
               <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label>User</mat-label>
                        <mat-select formControlName="userId" >
                            <mat-option *ngFor="let item of userData" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-validation-message [control]="frmPassword.controls.userId"
                            [message]="'User'" [formSubmitted]="isFormSubmitted">
                        </mat-validation-message>
                    </mat-form-field>
                </div>
               </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-label>New Password</mat-label>
                            <input [type]="hideNewPassword ? 'password' : 'text'" matInput formControlName="newPassword"
                                autocomplete="nope" space-restrict>
                            <button type="button" mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                                [attr.aria-label]="'Hide new password'" [attr.aria-pressed]="hideNewPassword">
                                <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-validation-message [control]="frmPassword.controls.newPassword"
                                [message]="'New Password'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field>
                            <mat-label>Confirm Password</mat-label>
                            <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput
                                formControlName="confirmPassword" autocomplete="nope">
                            <button type="button" mat-icon-button matSuffix
                                (click)="hideConfirmPassword = !hideConfirmPassword"
                                [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword">
                                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-validation-message [control]="frmPassword.controls.confirmPassword"
                                [message]="'Confirm Password'" [formSubmitted]="isFormSubmitted">
                            </mat-validation-message>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="error">
                    <div class="col-12">
                        <p class="text-danger">{{error}}</p>
                    </div>
                </div>
                <button mat-flat-button class="app-button w-100 my-2" color="primary">Change Password</button>

            </form>
        </div>
    </div>
</div>