<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Inventory Type</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a *authPermission="page + '_' + permissions.list" mat-flat-button color="primary"
                        class="app-button" (click)="cancel()">
                        View List
                    </a>
                </div>
            </div>
            <div>
                <form [formGroup]="frmInventoryType" (submit)="save()" #form="ngForm" novalidate class="app-form">
                    <!-- Basic Details Section -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="mb-0">Basic Details</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Inventory Type Code</mat-label>
                                        <input type="text" matInput formControlName="inventoryTypeCode">
                                        <mat-validation-message [control]="frmInventoryType.controls.inventoryTypeCode"
                                            [message]="'Inventory Type Code'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Inventory Type Name</mat-label>
                                        <input type="text" matInput formControlName="inventoryTypeName">
                                        <mat-validation-message [control]="frmInventoryType.controls.inventoryTypeName"
                                            [message]="'Inventory Type Name'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Applicable To</mat-label>
                                        <mat-select formControlName="applicableToId">
                                            <mat-option *ngFor="let item of applicableToOptions" [value]="item.id">
                                                {{ item.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="frmInventoryType.controls.applicableToId"
                                            [message]="'Applicable To'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-label>Type&nbsp;</mat-label>
                                    <mat-radio-group formControlName="isInward">
                                        <mat-radio-button [value]="true">Inward</mat-radio-button>&nbsp;
                                        <mat-radio-button [value]="false">Outward</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-validation-message [control]="frmInventoryType.controls.isInward"
                                        [message]="'Is Inward'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="mb-0">Transaction To Be Considered As:</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-checkbox formControlName="isSales">Sales</mat-checkbox>
                                </div>
                                <div class="col-md-3">
                                    <mat-checkbox formControlName="isPurchase">Purchase</mat-checkbox>
                                </div>
                                <div class="col-md-3">
                                    <mat-checkbox formControlName="isReserve">Reserve</mat-checkbox>
                                </div>
                                <div class="col-md-3">
                                    <mat-checkbox formControlName="isAdmin">Admin</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button type="submit" mat-flat-button color="primary" class="app-button mr-1">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>