<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0">Outward List</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a *authPermission="page + '_' + permissions.create" mat-flat-button color="primary"
                        class="app-button" [routerLink]="['../','add']">
                        <span>Add New</span>
                        <i class="icon-plus"></i>
                    </a>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-9">
                    <outward-search-panel (searchChanged)="updateSearch($event)">
                    </outward-search-panel>
                </div>
                <div class="col-lg-3">
                    <button mat-flat-button color="primary" (click)="exportToExcel()" class="app-button"
                        style="float: right;">
                        Export to Excel
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ngx-datatable class="material" [rows]="outwardData | searchtable : searchData"
                        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10"
                        [loadingIndicator]="loading" [scrollbarH]="true" [rowClass]="isActiveRow"
                        [messages]="{emptyMessage:'No Data to Display',totalMessage:'Total'}">
                        <ngx-datatable-column name="Outward Code" prop="outwardCode"></ngx-datatable-column>
                        <ngx-datatable-column name="Outward Date" prop="outwardDate">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <span>{{value | date: 'dd/MM/yyyy' }}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="From Warehouse" prop="fromWarehouseName"></ngx-datatable-column>
                        <ngx-datatable-column name="Inventory Type" prop="inventoryTypeName"></ngx-datatable-column>
                        <ngx-datatable-column name="Customer Name" prop="customerName"></ngx-datatable-column>
                        <ngx-datatable-column name="Vendor Name" prop="vendorName"></ngx-datatable-column>
                        <ngx-datatable-column name="Warehouse" prop="warehouseName"></ngx-datatable-column>
                        <ngx-datatable-column name="Supporting Document No"
                            prop="supportingDocumentNo"></ngx-datatable-column>
                        <ngx-datatable-column name="Actions" [sortable]="false">
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <a *authPermission="page + '_' + permissions.edit" class="button-padding"
                                    color="primary" [routerLink]="['..','edit',row.id]">
                                    <mat-icon>edit</mat-icon>
                                </a>
                                <ng-container *authPermission="page + '_' + permissions.active" class="ml-10">
                                    <a *ngIf="row.isActive" class="button-padding" color="primary"
                                        (click)="activateToggleOutward(row, false)">
                                        <mat-icon>lock</mat-icon>
                                    </a>
                                    <a *ngIf="!row.isActive" class="button-padding" color="primary"
                                        (click)="activateToggleOutward(row, true)">
                                        <mat-icon>lock_open</mat-icon>
                                    </a>
                                </ng-container>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>