<div class="row gutter" *ngIf="label || !hideUploader">
    <div class="col-lg-6" *ngIf="label">
        <label class="">{{label}}</label>
    </div>
    <ng-container *ngIf="!hideUploader">
        <div class="upload-btn-wrapper" [ngClass]="(label=='')?'col-lg-12':'col-lg-6'">
            <a class="btn btn-info btn-transparent pull-right">Browse</a>
            <input type="file" class="pull-right" ng2FileSelect  (change)="fileSelected($event)" />
        </div>
    </ng-container>
</div>
<ng-container *ngIf="uploadType === 'page'">
    <div class="file-list">
        <div class="row mt-1" *ngIf="uploader.queue && uploader.queue.length > 0">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let item of uploader.queue; let i = index">
                        <a style="color:#0a317a !important;text-decoration: underline;" href="javascript:void(0);"
                            (click)="filePreview(item._file,'file',item?.file?.name)">{{item?.file?.name
                            }}</a>
                        <span style="cursor: pointer;background-color: red;float: none;margin-left: 10px;"
                            class="badge badge-primary badge-pill" (click)="item.remove();remove(i)">
                            <span class="fa fa-times"></span>
                        </span>
                        <!-- <a href="javascript:void(0);" (click)="item.remove()">
                            <img src="assets/img/delete.png" alt="" class="icon-action">
                        </a> -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-1" *ngIf="isEditMode && documents">
            <div class=" col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a style="color:#0a317a !important;text-decoration: underline;"
                            (click)="filePreview(basePath + documents.path, 'path',documents.name)"
                            href="javascript:void(0);">{{documents.name}}</a>
                        <span style="cursor: pointer;background-color: red;float: none;margin-left: 10px;"
                            class="badge badge-primary badge-pill" (click)="remove(documents.id)">
                            <span class="fa fa-times"></span>
                        </span>
                        <!-- <a href="javascript:void(0);" (click)="remove(i)">
                            <img src="assets/img/delete.png" alt="" class="icon-action">
                        </a> -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="row my-2" *ngIf="uploader.progress">
            <div class="col-sm-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                        [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress}}%</div>
                </div>
            </div>
        </div>
    </div>
</ng-container>