<div class="row justify-content-center">
    <div class="col-xl-11 col-lg-12">
        <div class="border p30 rounded">
            <div class="row align-items-center mb-4">
                <div class="col-lg-7 col-sm-9 col-xs-10 d-flex align-items-end">
                    <h4 class="mb-0"><i class="icon-edit"></i> Add/Edit Workflow</h4>
                </div>
                <div class="col-lg-5 col-sm-3 col-xs-2 d-flex justify-content-end">
                    <a *authPermission="page + '_' + permissions.list" mat-flat-button color="primary"
                        class="app-button" (click)="cancel()">
                        View List
                    </a>
                </div>
            </div>
            <form [formGroup]="frmWorkflow" (submit)="save()" #form="ngForm" novalidate class="app-form">
                <!-- Basic Details Section -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="mb-0">Basic Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Workflow Code</mat-label>
                                    <input type="text" matInput formControlName="workflowCode">
                                    <mat-validation-message [control]="frmWorkflow.controls.workflowCode"
                                        [message]="'Workflow Code'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Workflow Date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="workflowDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-validation-message [control]="frmWorkflow.controls.workflowDate"
                                        [message]="'Workflow Date'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Transaction</mat-label>
                                    <mat-select formControlName="transactionId">
                                        <mat-option *ngFor="let transaction of transactions" [value]="transaction.id">
                                            {{ transaction.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-validation-message [control]="frmWorkflow.controls.transactionId"
                                        [message]="'Transaction'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                    <mat-label>Remarks</mat-label>
                                    <textarea matInput formControlName="remarks"></textarea>
                                    <mat-validation-message [control]="frmWorkflow.controls.remarks"
                                        [message]="'Remarks'" [formSubmitted]="isFormSubmitted">
                                    </mat-validation-message>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Workflow Levels Section -->
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Workflow Levels</h5>
                        <button type="button" mat-flat-button color="primary" (click)="addWorkflowLevel()">Add
                            Level</button>
                    </div>
                    <div class="card-body">
                        <div formArrayName="workflowLevels">
                            <div *ngFor="let level of workflowLevels.controls; let i=index" [formGroupName]="i"
                                class="row mt-3">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>Level No</mat-label>
                                        <input type="number" matInput formControlName="levelNo">
                                        <mat-validation-message [control]="level.get('levelNo')" [message]="'Level No'"
                                            [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Approver Type</mat-label>
                                        <mat-select formControlName="approverTypeId"
                                            (selectionChange)="onApproverTypeChange($event, i)">
                                            <mat-option *ngFor="let approverType of approverTypes"
                                                [value]="approverType.id">
                                                {{ approverType.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="level.get('approverTypeId')"
                                            [message]="'Approver Type'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                    <!-- <mat-form-field>
                                        <mat-label>Approver Type</mat-label>
                                        <mat-select formControlName="approverTypeId">
                                            <mat-option *ngFor="let approverType of approverTypes"
                                                [value]="approverType.id">
                                                {{ approverType.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="level.get('approverTypeId')"
                                            [message]="'Approver Type'" [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field> -->
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Users</mat-label>
                                        <mat-select formControlName="userIds" multiple
                                            [disabled]="isSupervisorWise(level)">
                                            <mat-option *ngFor="let user of users" [value]="user.id">
                                                {{ user.firstName }} {{ user.lastName }} - {{ user.email }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-validation-message [control]="level.get('userIds')" [message]="'Users'"
                                            [formSubmitted]="isFormSubmitted">
                                        </mat-validation-message>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-1 d-flex align-items-center">
                                    <button type="button" mat-icon-button color="warn" (click)="addWorkflowLevel()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <button type="button" mat-icon-button color="warn" (click)="removeWorkflowLevel(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <button type="submit" mat-flat-button color="primary" class="app-button mr-1">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>