::ng-deep .ngx-datatable .datatable-header-cell {
    background-color:  rgb(23, 187, 88) !important;
    color: white !important ;              /* Text color */
  }

.back-Green{
    background-color:  rgb(23, 187, 88) !important;
    color: white !important ;              /* Text color */
  }

  .icon-green {
    color: green;  /* Set the color for remove_circle_outline */
  }

  ::ng-deep .ngx-datatable.material .datatable-body .progress-linear .container {
    background-color: lightgreen;
  }
  
  ::ng-deep .ngx-datatable.material .datatable-body .progress-linear .container .bar {
    background-color: green;
  }